{% extends 'layout.twig' %}

{% block title %}
    Гостевая книга
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="shadow p-3 mb-3">
                <div class="float-end">
                    <a href="/guestbook/{{ message.id }}/edit">Edit</a>
                    <a href="guestbook/{{ message.id }}/delete">Del</a>
                </div>
                <span class="fw-bold">{{ message.name }}</span>
                <small class="text-muted fst-italic">{{ message.time|date('d.m.Y H:i') }}</small><br>
                {{ message.title }}<br>
                {{ message.text|bbCode }}
            </div>
        {% endfor %}

        {{ paginator.links|raw }}
    {% else %}
        <div class="alert alert-danger">Сообщений еще нет!</div>
    {% endif %}

    {% include 'guestbook/_form.twig' %}
{% endblock %}
