{% extends 'layout.twig' %}

{% block title %}
    Гостевая книга
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="shadow p-3 mb-3">
                {% if isUser() %}
                    <div class="float-end">
                        <a href="/guestbook/{{ message.id }}/edit">Edit</a>
                        <a href="guestbook/{{ message.id }}/delete">Del</a>
                    </div>
                {% endif %}
                <h5>{{ message.title }}</h5>

                {% if message.image %}
                    <div class="media-file">
                        <img src="{{ message.image }}" alt="" class="w-100">
                    </div>
                {% endif %}

                <div class="message">
                    {{ message.text|bbCode }}
                </div>

                <span class="fw-bold">{{ message.login }}</span>
                <small class="text-muted fst-italic">{{ message.created_at|date('d.m.Y H:i') }}</small><br>
            </div>
        {% endfor %}

        {{ paginator.links|raw }}
    {% else %}
        <div class="alert alert-danger">Сообщений еще нет!</div>
    {% endif %}

    {% if isUser() %}
        {% include 'guestbook/_form.twig' %}
    {% else %}
        Авторизуйтесь для добавления сообщений
    {% endif %}
{% endblock %}
